#======== File I/O ===============
InputFile                     : D:\testseqs\HETC\BricksBushesStatic_3840x2160_120fps_10b.yuv
InputBitDepth                 : 10          # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 120         # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 3840        # Input  frame width
SourceHeight                  : 2160        # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded

Level                         : 6
