#======== File I/O ===============
InputFile                     : Train_le_8192x4096_60fps_8bit_420_erp.yuv
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 8192        # Input  frame width
SourceHeight                  : 4096        # Input  frame height
FramesToBeEncoded             : 600         # Number of frames to be coded

Level                         : 6
